
.searchbar
{
    height: 38px;
    width: 350px;
    border-radius: 27px;
    border: solid;
    border-color: #D7DBE0;
    border-width: 1px;
    padding: 10px;
    
}

.searchbar:focus{
   outline: none;
}


.searchbar_container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;
}

.searchbar_container {

        .MuiSvgIcon-root {
            position: relative;
            right: 45px;
        }

}   

.demo_detail
{
        background-color: #082760;
        height: 35px;
        width: 195px;
        margin-left: 25px;
}

.filterclient{
    display: flex;
    gap: 22px;
}