button {
    display: flex;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #002541;
    color: white;
}

button:hover{
    cursor: pointer;
}