.MuiDrawer-root {
    .MuiPaper-elevation0 {
        background-color: #082760;
        ;
    }
}

.MuiBox-root {
    .MuiPaper-root {
        box-shadow: none;
        z-index: 1;
    }

    .css-zxdg2z {
        display: none;
    }

    .MuiTypography-root {
        display: none;
    }

    .MuiDrawer-paperAnchorLeft{
        z-index: 0;
    }

}

.MuiListItem-root {
    .MuiButtonBase-root:active {
        background-color: #0F3884;
    }

    .MuiButtonBase-root:hover {
        background-color: #0F3884;
    }
}



.MuiPaper-root {

    .MuiToolbar-root {
        background-color: white;
        background-image: url(../../assets/compName.png);
        background-repeat: no-repeat;
        background-position: 18px;

    }

}

.MuiToolbar-root {
    .MuiButtonBase-root {
        display: none;
    }
}


.MuiDataGrid-root {
    .MuiDataGrid-footerContainer {
        display: none;
        min-height: 0;
        border-top: 0;
    }
}

.MuiDataGrid-virtualScroller
{
    overflow-y: hidden;
}

.MuiDataGrid-main {
    display: none;
    min-height: 0;
    border-top: 0;
    align-items: unset;
}

