.MuiDrawer-root {
    .MuiPaper-root {
        background-color: #082760;
    }
}

.MuiBox-root {
    .MuiPaper-root {
        box-shadow: none;
    }

    .css-zxdg2z {
        display: none;
    }

    .MuiTypography-root {
        display: none;
    }

}



.MuiPaper-root {

    .MuiToolbar-root {
        background-color: white;

    }

}

.MuiToolbar-root {
    .MuiButtonBase-root {
        display: none;
    }
}