.MuiDrawer-root {
    .MuiPaper-root {
        background-color: #082760;
        ;
    }
}

.MuiBox-root {
    .MuiPaper-root {
        box-shadow: none;
    }

    .css-zxdg2z {
        display: none;
    }

    .MuiTypography-root {
        display: none;
    }

}

.MuiListItem-root{
    .MuiButtonBase-root:active{
        background-color: #0F3884;
    }

    .MuiButtonBase-root:hover{
        background-color: #0F3884;
    }
}



.MuiPaper-root {

    .MuiToolbar-root {
        background-color: white;
        background-image: url(../../assets/compName.png);
        background-repeat: no-repeat;
        background-position: 18px;

    }

}

.MuiToolbar-root {
    .MuiButtonBase-root {
        display: none;
    }
}