.filter_container
{
    .MuiButtonBase-root
    {
        .MuiButton-endIcon{
            .MuiSvgIcon-root{
                position: relative;
                left: 0;
            }
           
        }
        
    }
   
}



.filter_container{
.MuiButtonBase-root
{
    color: black;
}
}

.category_dropdown
{
    .MuiButtonBase-root
    {
        color: black;
    }
}