.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 50%;
    justify-content: center;
    align-items: center;

}

.head1 {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.head2 {
    color: rgba(0, 0, 0, 0.74);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    align-items: flex-start;
    width: 590px;
    height: 341px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

form>input {
    width: 100%;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #D7DBE0;
    padding-left: 10px;
    
}